@import url(http://fonts.googleapis.com/css?family=Fenix|Righteous);
body {
  font-family: 'Fenix', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous';
}

.element-invisible {
  display: none;
}

.site-title {
  font-family: 'Righteous';
  font-size: 3em;
}
.site-title p {
  display: inline-block;
  margin: 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  width: auto;
  padding: .25em;
  border: 1px solid #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
}
.tab-container ul.tabs {
  border: 0;
}
.tab-container ul.tabs li a {
  text-decoration: none;
  color: #30176a;
  border: 1px solid #30176a;
  padding: .25em .5em;
  top: 1px;
}
.tab-container ul.tabs li a.active {
  background: #fff;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid #000;
}

.menu-container ul.menu li a, .menu-container ul.links li a {
  color: #30176a;
  font-family: 'Righteous';
  text-transform: uppercase;
  text-decoration: none;
}
.menu-container ul.menu li a:hover {
  color: #602fd2;
}

.region.right-column .more {
  font-size: .8em;
  text-transform: uppercase;
}

.footer-content {
  font-size: .7em;
}
